link rel = " stylesheet " href = " node_modules / ng2-drag-drop / style.css " >  
 <section id="bs-pricing-six" class="bs-pricing-four roomy-50 bg-white fix">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="bs bs-pricing">
                            <div class="cotent">
                                <h3 class="category">Personal</h3>
                                <h1 class="bs-caption"><small>$</small>11</h1>
                                    <ul>
                                      <li arrastrable>Café</li>
                                      <li arrastrable>  Té </li>
                                      <li arrastrable >  Leche </ li >
                                    </ul> 
                           <a href="https://bootstrapthemes.co" class="btn btn-danger">Buy Now</a>  
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="bs bs-pricing">
                            <div class="cotent">
                                <h3 class="category">Business</h3>
                                <h1 class="bs-caption"><small>$</small>15</h1>
                                <ul>
                                    <li><b>5 GB</b> Space</li>
                                    <li><b>2 GB</b> RAM</li>
                                    <li><b>24/7</b> Tech Support</li>
                                    <li><b>Auto</b> Backup</li>
                                    <li>Monthly Backups</li>
                                    <li>8 CPU Core</li>
                                </ul>
                                <a href="https://bootstrapthemes.co" class="btn btn-danger">Buy Now</a>  
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="bs bs-pricing bg-danger">
                            <div class="cotent">
                                <h3 class="category">Corporate</h3>
                                <h1 class="bs-caption"><small>$</small>20</h1>
                                <ul>
                                    <li><b>5 GB</b> Space</li>
                                    <li><b>2 GB</b> RAM</li>
                                    <li><b>24/7</b> Tech Support</li>
                                    <li><b>Auto</b> Backup</li>
                                    <li>Monthly Backups</li>
                                    <li>8 CPU Core</li>
                                </ul>
                                <a href="https://bootstrapthemes.co" class="btn btn-white">Buy Now</a> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="bs bs-pricing">
                            <div class="cotent">
                                <h3 class="category">Professional</h3>
                                <h1 class="bs-caption"><small>$</small>25</h1>
                                <ul>
                                    <li><b>5 GB</b> Space</li>
                                    <li><b>2 GB</b> RAM</li>
                                    <li><b>24/7</b> Tech Support</li>
                                    <li><b>Auto</b> Backup</li>
                                    <li>Monthly Backups</li>
                                    <li>8 CPU Core</li>
                                </ul>
                                <a href="https://bootstrapthemes.co" class="btn btn-danger">Buy Now</a>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
         <div style="text-align: center;margin-top: 150px; margin-bottom:100px"> | <a href="https://bootstrapthemes.co/"target="_blank"> Snippet By Bootstrapthemes.co </a></div>